<style>
    #powered-by {
      text-align: center;
      font-size: 12px;
      color: #888;
      padding: 10px;
      position: absolute;
      bottom: 10px;
      left:10px;
    }
    img{
      margin-top: 20px;
      height: 10%;
      margin-right:auto;
      margin-left:auto;
    }
</style>
<div id="sidebar" class="fixed top-0 left-0 h-full w-64 bg-white shadow-md border-r z-40 -translate-x-full lg:translate-x-0">
  <img src="/static/logo.png" alt="logo">
    {# <div class="p-4 text-xl font-bold text-blue-900 border-b">Roche</div> #}
    <ul class="mt-4 space-y-2 px-4 text-gray-700">
      <li>
        <a href="/" class="block px-2 py-2 rounded hover:bg-blue-100 {{ 'bg-blue-100' if request.path == '/' else '' }}">Dashboard</a>
      </li>
      <li>
        <a href="/rag-configure" class="block px-2 py-2 rounded hover:bg-blue-100 {{ 'bg-blue-100' if request.path == '/rag-configure' else '' }}">Configure/Manage RAG Agents</a>
      </li>
      <li>
        <a href="query-analyzer" class="block px-2 py-2 rounded hover:bg-blue-100 {{ 'bg-blue-100' if request.path == '/query-analyzer' else '' }}">Query Analyzer</a>
      </li>
      <li>
        <a href="/data-management" class="block px-2 py-2 rounded hover:bg-blue-100 {{ 'bg-blue-100' if request.path == '/data-management' else '' }}">Data Mangement</a>
      </li>
      <li>
        <a href="/chat-with-rag" class="block px-2 py-2 rounded hover:bg-blue-100 {{ 'bg-blue-100' if request.path == '/chat-with-rag' else '' }}">Complaint Analysis</a>
      </li>
      
      <li>
        <a href="#" class="block px-2 py-2 rounded hover:bg-blue-100">Graph Query</a>
      </li>
      <li>
        <a href="#" class="block px-2 py-2 rounded hover:bg-blue-100">User Feedback</a>
      </li>
      <li>
        <a href="#" class="block px-2 py-2 rounded hover:bg-blue-100">Settings</a>
      </li>
    </ul>
    <div id="powered-by">Powered by Cloudhub</div>
</div>